.input {
  box-sizing: border-box;
  border: 1px solid #808185;
  border-radius: 8px;
  padding-left: 4px;
  height: 48px;
  position: relative;
  width: 100%;
}

.input:active {
  border: 1px solid red;
}
